.slides .slide img {
    width: 100%;
    height: 710px;
    object-fit: cover;
}

.slider {
    width: 100%;
    height: 700px;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 700px;
    display: flex;
}

.slides input {
    display: none;
}

.slides .slide {
    width: 20%;
    transition: 2s;
}

/* Manual slide navigation */

.navigation-manual {
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid rgba(0,0,0,.5);
    padding: 0 15px;
    transform: 1s;
    border-radius: 1.5em;
    cursor: pointer;
}

.manual-btn:not(:last-child),
.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: rgba(0,0,0,.5);
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

/* Automatic slide navigation */

.navigation-auto {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 41.3em;
}

.navigation-auto div {
    border: 2px solid rgba(0,0,0,.5);
    padding: 0 15px;
    transform: 1s;
    border-radius: 1.5em;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: rgba(0,0,0,.5);
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: rgba(0,0,0,.5);
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: rgba(0,0,0,.5);
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: rgba(0,0,0,.5);
}

@media (max-width: 992px) {
    .slider {
        height: 30em;
    }

    .navigation-manual {
        margin-top: -17em;
    }

    .navigation-auto {
        margin-top: 26.7em;
    }
}